{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% block content_header %}
<h2>Products</h2>
<p>
    <a href="{% url 'product_create' %}" class="btn btn-primary">Add Product</a>
</p>
<p>
    <a href="{% url 'product_delete_all' %}" class="btn btn-danger">Delete All Products</a>
</p>
{% endblock %}
<form method="GET">
    {{filter.form|crispy}}
    <button type="submit" class="btn btn-primary">Refresh list</button>
</form>


<table class="table mb-0">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Is Active</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr>
            <td>{{ product.sku_orig }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.is_active }}</td>
            <td>
                <a href="{% url 'product_update' product.sku %}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}